azul = #22BCE0
gris_oscuro = #0f440d
gris_texto = #7a7a7a
naranja = #DD4F24
blueGray = #607D8B

a
  color naranja

.cuerpo
  background red
  color gris_oscuro
  font-family tahoma
  font-size 16px

.piep
  background naranja
  color rgba(white,0.5)
  padding 1em 0
  text-align center
  width 100%

  h3
    font-size 14px
    font-weight normal

    strong
      display block

    .mejor
      &:before
      &:after
        content " - "



#principal
	padding 0.5em

	#flipbook
      display block
		.page 
			background blueGray
			  .parr
          background-color black
          text-align justify
          margin 0.5em

      .subt
  				color azul
  				&:hover
  					color black
        
        .title     
          color red
  			
      img
				width 250px
				height 250px
				float right
				border-radius 50%
				&:hover
					border-radius 10%

		.hard

            border-color #c9302c
            border-style solid
            border-width: medium
            background #00695C
			color white
			text-align center
			font-size 40px